body{

margin:0;
padding:30px;

background:#080808;
color:white;

font-family:Arial, Helvetica, sans-serif;

}


header{

margin-bottom:30px;

}


h1{

color:#d8b36a;

}



#artists{

display:flex;
flex-direction:column;
gap:20px;

}



.artist-card{

background:#151515;

border:1px solid #333;

border-radius:15px;

padding:20px;

display:flex;

align-items:center;

gap:25px;

}



.avatar{

width:100px;
height:100px;

border-radius:50%;

object-fit:cover;

border:2px solid #d8b36a;

}



.info{

flex:1;

}


.info h2{

margin-top:0;

}



a{

color:#d8b36a;

}



.badge{

display:inline-block;

padding:6px 12px;

border-radius:20px;

font-size:12px;

margin-right:8px;

}



.green{

background:#1d7a38;

}



.yellow{

background:#7a641d;

}



.gold{

background:#a27b21;

}



.purple{

background:#62328f;

}



button{

background:#d8b36a;

border:none;

padding:12px 18px;

border-radius:10px;

cursor:pointer;

margin:5px;

}



button:hover{

opacity:.8;

}



@media(max-width:700px){

.artist-card{

flex-direction:column;

align-items:flex-start;

}


}